 <!-- Conditional Rendering for Clinic Section -->
 <div *ngIf="activeSection === 'clinic'">
    <div class="patient-management">
        <div class="text-section">
            <h3>Manage Patients</h3>
        </div>
        <div class="button-section">
            <button class="add-patient" (click)="openAddPatientForm()">Invite Patient</button>
        </div>
    </div>

    <!-- Add Patient Modal -->
    <div class="modal" *ngIf="showAddPatientForm">
        <div class="modal-content">
            <span class="close" (click)="closeAddPatientForm()">&times;</span>
            <h2>Add New Patient</h2>
            <form [formGroup]="addPatientForm" (ngSubmit)="submitPatientForm()">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" formControlName="firstName">
                <span class="error-msg"
style="color: red;" *ngIf="addPatientForm.get('firstName')?.invalid && addPatientForm.get('firstName')?.touched">
                    First Name is required.
                </span>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" formControlName="lastName">
                <span class="error-msg"
style="color: red;" *ngIf="addPatientForm.get('lastName')?.invalid && addPatientForm.get('lastName')?.touched">
                    Last Name is required.
                </span>

                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email">
                <span class="error-msg"
style="color: red;" *ngIf="addPatientForm.get('email')?.invalid && addPatientForm.get('email')?.touched">
                    <span *ngIf="addPatientForm.get('email')?.hasError('required')">Email is required.</span>
                    <span *ngIf="addPatientForm.get('email')?.hasError('email')">Please enter a valid email address.</span>
                </span>

                <label for="mobile">Mobile Number:</label>
                <input type="tel" id="mobile" formControlName="mobile">
                <span class="error-msg"
style="color: red;" *ngIf="addPatientForm.get('mobile')?.invalid && addPatientForm.get('mobile')?.touched">
                    <span *ngIf="addPatientForm.get('mobile')?.hasError('required')">Mobile Number is required.</span>
                    <span *ngIf="addPatientForm.get('mobile')?.hasError('maxlength')">Mobile Number must be at most 10 digits.</span>
                </span>
    

                <label for="language">Language:</label>
                <select id="language" formControlName="language">
                    <option value="english">English</option>
                    <option value="spanish">Spanish</option>
                    <option value="french">French</option>
                    <option value="hindi">Hindi</option>
                </select>
                <span class="error-msg"
style="color: red;" *ngIf="addPatientForm.get('language')?.invalid && addPatientForm.get('language')?.touched">
                    Language is required.
                </span>

                <label for="message">Message:</label>
                <textarea id="message" formControlName="message"></textarea>
                <span class="error-msg"
style="color: red;" *ngIf="addPatientForm.get('message')?.invalid && addPatientForm.get('message')?.touched">
                    Message cannot exceed 2000 characters.
                </span>

                <label for="age">Age:</label>
                <input type="number" id="age" formControlName="age">
                <span class="error-msg"
style="color: red;" *ngIf="addPatientForm.get('age')?.invalid && addPatientForm.get('age')?.touched">
                    <span *ngIf="addPatientForm.get('age')?.hasError('required')">Age is required.</span>
                    <span *ngIf="addPatientForm.get('age')?.hasError('min')">Age must be at least 4.</span>
                    <span *ngIf="addPatientForm.get('age')?.hasError('max')">Age must be no more than 120.</span>
                </span>
    

                <button type="submit">Submit</button>

            </form>
        </div>
    </div>

    <!-- Patient List Table -->
    <div class="patient-list">
        <h3>Patient List</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients">
                    <td>{{ patient.firstName }} {{ patient.lastName }}</td>
                    <td>{{ patient.age }}</td>
                    <td>{{ patient.email }}</td>
                    <td>
                        <div class="edits" style="display: flex; justify-content: space-evenly;">
                        <button (click)="openEditPatientForm(patient)"><i class="fas fa-edit"></i></button>
                        <button (click)="openAssignExerciseForm(patient)"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
                        <button ><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Edit Patient Modal -->
    <div class="modal" *ngIf="showEditPatientForm">
        <div class="modal-content">
            <span class="close" (click)="closeEditPatientForm()">&times;</span>
            <h2>Edit Patient</h2>
            <form [formGroup]="editPatientForm" (ngSubmit)="submitEditPatientForm()">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" formControlName="firstName">
                <span class="error-msg"
style="color: red;" *ngIf="editPatientForm.get('firstName')?.invalid && editPatientForm.get('firstName')?.touched">
                    <span *ngIf="editPatientForm.get('firstName')?.hasError('required')">First Name is required.</span>
                </span>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" formControlName="lastName">
                <span class="error-msg"
style="color: red;" *ngIf="editPatientForm.get('lastName')?.invalid && editPatientForm.get('lastName')?.touched">
                    <span *ngIf="editPatientForm.get('lastName')?.hasError('required')">Last Name is required.</span>
                </span>
        

                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email">
                <span class="error-msg"
style="color: red;" *ngIf="editPatientForm.get('email')?.invalid && editPatientForm.get('email')?.touched">
                    <span *ngIf="editPatientForm.get('email')?.hasError('required')">Email is required.</span>
                    <span *ngIf="editPatientForm.get('email')?.hasError('email')">Enter a valid email address.</span>
                </span>

                <label for="age">Age:</label>
                <input type="number" id="age" formControlName="age">
                <span class="error-msg"
style="color: red;" *ngIf="editPatientForm.get('age')?.invalid && editPatientForm.get('age')?.touched">
                    <span *ngIf="editPatientForm.get('age')?.hasError('required')">Age is required.</span>
                    <span *ngIf="editPatientForm.get('age')?.hasError('min')">Age must be at least 0.</span>
                    <span *ngIf="editPatientForm.get('age')?.hasError('max')">Age must be no more than 120.</span>
                </span>
        

                <button type="submit">Save</button>
            </form>
        </div>
    </div>

    <!-- Assign Exercise Modal -->
    <div class="modal" *ngIf="showAssignExerciseForm">
        <div class="modal-content">
            <span class="close" (click)="closeAssignExerciseForm()">&times;</span>
            <h2>Assign Exercise</h2>
            <form [formGroup]="assignExerciseForm" (ngSubmit)="assignExerciseToPatient()">
                <label for="exercise">Select Exercise:</label>
                <select id="exercise" formControlName="exercise"  >
                    <option value="">-- Select Exercise --</option>
                    <option *ngFor="let exercise of exercises" [value]="exercise.name">{{ exercise.name }}</option>
                </select>
                <span class="error-msg"
style="color: red;" *ngIf="assignExerciseForm.get('exercise')?.invalid && assignExerciseForm.get('exercise')?.touched">
                    Exercise selection is required.
                </span>

                <label for="message">Message to Patient:</label>
                <textarea id="message" formControlName="message"></textarea>
                <span class="error-msg"
style="color: red;" *ngIf="assignExerciseForm.get('message')?.hasError('maxlength') && assignExerciseForm.get('message')?.touched">
                    Message cannot exceed 1000 characters.
                </span>

                <label for="timeout">Timeout (in minutes):</label>
                <input type="number" id="timeout" formControlName="timeout" placeholder="Enter timeout in minutes">
                <span class="error-msg"
style="color: red;" *ngIf="assignExerciseForm.get('timeout')?.hasError('max') && assignExerciseForm.get('timeout')?.touched">
                    Timeout cannot exceed 40 minutes.
                </span>


                <label for="timeout">Anaglyph Glass Type</label>
                <input type="test" id="glassType" formControlName="glasstype"  placeholder="Enter Anaglyph Glass Type">
                <span class="error-msg"
style="color: red;" *ngIf="assignExerciseForm.get('glasstype')?.invalid && assignExerciseForm.get('glasstype')?.touched">
                    Anaglyph Glass Type is required.
                </span>

                <button type="submit">Assign</button>
            </form>
        </div>
    </div>
</div>
