.opaque-header{
    
    background-color: rgba(43,122,75,1);
    
}
.transparent-header{
    background-color: rgba(43,122,75,0.7);
    backdrop-filter: blur(10px);
}
.container-fluid{
    transition: background-color 0.3s ease;
}
/* .head{
    background-color: lightblue;
} */
a:visited{
    color: blanchedalmond;
    background-color: limegreen;
}
a:hover{
    background-color: limegreen;
}
a:active{
    background: limegreen;
}
::selection {
    background: #4158d0;
    color: #fff;
  }
.head{
    
    position: sticky;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 1000;
}
.navbar-nav{
    position: relative;
    display: flex;
    justify-content: right;
    max-width: fit-content;
    margin-right: 4%;
    
    /* background-color: aqua; */
    justify-content: flex-end;
}
/* .name{
    display: flex;
    justify-content: right;
    /* background-color: black; 
} */
 @media screen and (min-width: 992px){
    .collapse{
        display:flex;
        justify-content : right;
    }

 }
 button {
   
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover{
    background-color: limegreen;
  }