<html lang="en">
<body>
    <header>
        <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;text-align: left;">
            Clarityze</h1>
    </header>
    <main>
        <div class="left-panel" style="padding-right: 0%;">
            <!-- Personal Dashboard Section -->
            <div class="dashboard" >
                <button style="background-color: #E5E5EA ;padding: 0%;" (click)="OpenModal()">
                    <div class="user-info" style="display: flex; flex-direction: row-reverse; align-items: center;">
                        <div class="pic" style="padding-top: 5%; padding-right: 5%; ">
                            <img src="https://via.placeholder.com/50" alt="User Avatar" class="avatar" >
                        </div>
                        <div class="detail" style="overflow: hidden; margin-right: 2px; text-overflow: ellipsis;white-space: nowrap; width: 10vw; text-align: left;" >
                            <p class="username" style="padding-bottom: 0%; margin-bottom: 0%; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">{{ patient.firstName }} {{ patient.lastName }}</p>
                            <p class="email" style="color: gray; size: 1rem; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; margin-top: 0%; padding-top: 0%;">hardikmakkar27&#64;gmail.com</p>
                        </div>                    
                       
                    </div>
                </button>
                <div class="dashboard-links">
                    <ul>
                        <!-- Use click event binding and class binding correctly -->
                        <li><a href="#" routerLink="/doctor/clinic" style="color: black; display: block;" (click)="onLight('myClinic')" [ngClass]="{'backGround':myClinic}">
                            <span><i class="fa fa-user-md" aria-hidden="true" ></i></span>&nbsp;&nbsp;My Clinic</a></li>
                        <li><a href="#" routerLink="/doctor/exercises-list" style="color: black; display: block;" (click)="onLight('Exercises')" [ngClass]="{'backGround':Exercises}">
                            <span><i class="fa fa-tasks" aria-hidden="true" ></i></span>&nbsp;&nbsp;Exercises</a></li>
                        <li><a href="#" routerLink="/doctor/caliberate" style="color: black; display: block;">
                            <span><i class="fa fa-cogs" aria-hidden="true" ></i></span>&nbsp;Caliberate</a></li>
                        <li><a href="#" style="color: black; display: block;" (click)="onLight('Logout')" [ngClass]="{'backGround':Logout}">
                            <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>&nbsp;&nbsp;Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body-content">
            <router-outlet></router-outlet>
        </div>
    </main>
    <!-- Footer Section -->
    <footer>
        <p>© 2024 Company Name. All rights reserved.</p>
        <p>Contact: clarityze.com | Phone: (123) 456-7890</p>
    </footer>
</body>
</html>