<div class="hero">
<div class="intro">
    <div class="founder-img">
        <img class="card-img-top" src="holder.js/100x180/" alt="image" />
    </div>
    <div class="abt1">
        <div>About Us</div>
        <br>
        <div>
            <h6 style="line-height: 1.75rem;">Clarityze - The world's first and most advanced AI-based vision therapy SaaS was founded on a park seat by two childhood friends Puneet and Jatin Kaushik along with their industry friend, Amit Sahni. It was co-created by our clinical mentors with a desire to assist amblyopic patients in restoring their vision while also avoiding cosmetic embarrassment. The only tool was the vision of our Co-founders- to improve Amblyopic Patients' visual journeys utilizing cutting-edge technology, which was at the time a dream technology for the eyecare sector.
                It is a result of consistent efforts, grit, and determination for curing amblyopia or lazy eye. Our first obligation was and will continue to be towards the patients.
                CureSee was not founded overnight, and we can confidently state that we have experienced countless failures throughout the years. But, we promised that we will continue to make mistakes in the future so that we can receive your valuable feedback to improve the experience for our patients better. Yes, our patient's and doctors' feedback have made us what we are today. We are establishing ourselves with each and every piece of feedback, which is why we don't believe in a foundation date.</h6>
        </div>
    </div>
</div>
<div class="excess" >
    <h6 style="line-height: 1.75rem;">CureSee is now World's foremost AI-based vision therapy SaaS in the eyecare industry, with the goal of curing everyone suffering from amblyopia in the world. It has treated over 2100 patients and has partnered with over 200 doctors at some of India's leading eye care centers. These numbers are multiplying every year. Each CureSee patient is now able to live their dreams with a sight they deserve.
       Even today, A prevalent misconception concerning Amblyopia or Lazy Eye is that it is incurable. To break this stigma, CureSee was founded, however Alone we can do so little; together we can do so much. Join us today and let's make this world beautifully visible to everyone.</h6>
</div>
</div>

<!-- contact section -->
<div class="cont" style="padding: 20px;">
  <div class="contact-section" style="background-color: #e1f7d5; padding: 20px; border-radius: 8px;">
      <h2 style="text-align: center;">Contact Us</h2>
      <p style="text-align: center;">Feel free to contact us to know more about</p>
      <form style="margin-left: 100px; margin-right: 100px;">
          <div class="form-group" style="margin-bottom: 15px;">
              <label for="role">I am a&nbsp;&nbsp;</label>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="entry.1470796898" id="neu_role1" value="Doctor">
                  <label class="form-check-label" for="neu_role1">Doctor</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="entry.1470796898" id="neu_role2" value="Patient">
                  <label class="form-check-label" for="neu_role2">Patient</label>
              </div>
              <div><span class="error-msg" style="display: none;">Please choose your personality.</span></div>
          </div>
          <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" style="border: 1px solid #ccc; border-radius: 4px;">
          </div>
          <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" style="border: 1px solid #ccc; border-radius: 4px;">
          </div>
          <div class="mb-3">
              <label for="mobile" class="form-label">Mobile Number</label>
              <input type="number" class="form-control" id="mobile" style="border: 1px solid #ccc; border-radius: 4px;">
          </div>
          <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" style="border: 1px solid #ccc; border-radius: 4px;">
          </div>
          <div style="text-align: left;">
              <button type="submit" class="btn btn-success" style="background-color: #00aeef; color: #fff; margin-bottom: 50px;">Submit</button>
          </div>
      </form>
  </div>
</div>
    
    
    <!-- footer -->
    <div style="background-color: #2b7a4b; color: #fff; padding: 2%;"> <!-- Soft Green Footer -->
      <div class="container py-4 py-md-5 px-4 px-md-3">
        <div class="upfoot">
          <div>
            <a href=".main"><img src="#121" alt="CompanyLogo"></a>
          </div>
          <div style="display: flex; justify-content: flex-end;">
            <div class="email">
              <ul>
                <li><label style="color: #fff;">Mail Us:&nbsp;</label>
                  <a href="mailto:clarityze@gmail.com" style="color: #fff;">clarityze&#64;gmail.com</a>
                </li>
                <li><label style="color: #fff;">Contact Us:&nbsp;</label>
                  <a href="tel:+919999966666" style="color: #fff;">99999 66666</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr style="border-color: #fff;">
        <div class="row" style="color: #fff;">
          <div class="col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
              <span class="fs-5" style="color: #fff;">About Us</span>
            </a>
            <ul class="list-unstyled small">
              <li class="mb-2"><a href="#" style="color: #fff;">Explore Team</a></li>
              <li class="mb-2"><a href="#" style="color: #fff;">Services</a></li>
              <li class="mb-2"><a href="#" style="color: #fff;">Partners</a></li>
              <li class="mb-2"><a href="#" style="color: #fff;">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-lg-2 mb-3">
            <h5 style="color: #fff;">Countries</h5>
            <ul class="list-unstyled small">
              <li class="mb-2"><a href="#" style="color: #fff;">India</a></li>
              <li class="mb-2"><a href="#" style="color: #fff;">United States</a></li>
              <li class="mb-2"><a href="/docs/5.3/examples/" style="color: #fff;">North America</a></li>
              <li class="mb-2"><a href="https://icons.getbootstrap.com/" style="color: #fff;">Asia</a></li>
              <li class="mb-2"><a href="https://themes.getbootstrap.com/" style="color: #fff;">South America</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
              <h5>Go To</h5>
              <ul class="list-unstyled">
                <li class="mb-2" ><a href="/docs/5.3/getting-started/" style="color: #fff;">Home</a></li>
                <li class="mb-2"><a href="/docs/5.3/examples/starter-template/" style="color: #fff;">About us</a></li>
                
                <li class="mb-2" style="color: white;"><a href="/docs/5.3/getting-started/parcel/" style="color: #fff;">Presentation</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/vite/" style="color: #fff;">Researches</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
              <h5>Other Links</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="/docs/5.3/getting-started/" target="_blank" rel="noopener"  style="color: #fff;">FAQ</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/" target="_blank" rel="noopener" style="color: #fff;">Login 4</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/" target="_blank" rel="noopener" style="color: #fff;">Privacy Policy</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/" target="_blank" rel="noopener" style="color: #fff;">Terms and condition</a></li>
                <li class="mb-2"><a href="/docs/5.3/getting-started/" target="_blank" rel="noopener" style="color: #fff;">Support</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div style="padding-bottom: 0px;"><p style="text-align: center; font-size: 0.75rem; ">&#169; 2024 Clarityze All Rights Reserved</p></div>
    <hr>